[submodule "Lib/tinyexr"]
	path = Lib/tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "corinfo"]
	path = corinfo
	url = https://github.com/ColumbusUtrigas/corinfo.git
[submodule "Lib/corinfo"]
	path = Lib/corinfo
	url = https://github.com/ColumbusUtrigas/corinfo.git
[submodule "Lib/stb"]
	path = Lib/stb
	url = https://github.com/nothings/stb.git
[submodule "Lib/ImGuizmo"]
	path = Lib/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Lib/tinyobjloader"]
	path = Lib/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "Lib/json"]
	path = Lib/json
	url = https://github.com/nlohmann/json.git
[submodule "Lib/bullet3"]
	path = Lib/bullet3
	url = https://github.com/bulletphysics/bullet3.git
